@media only screen and (min-width: 481px) {
    h1 {
        font-weight: 700;
        font-size: 1.2em;
    }

    div {
        font-size: 14px;
    }
}


@media only screen and (min-width: 769px) {
    h1 {
        font-weight: 800;
        font-size: 1.5em;
    }

    div {
        font-size: 16px;
    }
    
}

@media only screen and (min-width: 1025px) {
    h1 {
        font-weight: 1000;
        font-size: 1.8em;
    }

    div {
        font-size: 18px;
    }
    
}



