@media only screen and (min-width: 481px) {
    .title {
        font-size: 28px;
    }

    .subTitle {
        font-size: 14px;
    }

    .subSub {
        font-size: 12px;
    }
}


@media only screen and (min-width: 769px) {
    .title {
        font-size: 32px;
    }

    .subTitle {
        font-size: 18px;
    }

    .subSub {
        font-size: 16px;
    }
    
}

@media only screen and (min-width: 1025px) {
    .title {
        font-size: 36px;
    }

    .subTitle {
        font-size: 22px;
    }

    .subSub {
        font-size: 20px;
    }
}



